# Python
__pycache__/
*.py[cod]
*$py.class

**/migrations/
!**/migrations/__init__.py

*.sqlite3

venv/
env/
ENV/
.venv/

.vscode/

.DS_Store

.idea/
*.log
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
staticfiles/
static/
media/

.env
*.env
